{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "react",
  ],
  "plugins": [
    ["babel-plugin-espower", { "embedAst": true }],
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-runtime",
  ],
}
