@import '../variables';

.my {
  &Headline {
    margin-bottom: 30px;
  }
  &Statistics {
    margin-bottom: 75px;
  }
  &DiffImages {
    margin-bottom: 50px;
    &Header {
      margin-bottom: 30px;
    }
    &Lesses {
      margin-top: 30px;
    }
  }
  &DiffImage {
    position: relative;
    & + & {
      margin-top: 50px;
    }
    &Title {
    }
    &Percent {
      margin-right: 1.2em;
    }
    img {
      cursor: pointer;
    }
  }
  &InOutImages {
    margin-bottom: 50px;
    &Header {
      margin-bottom: 30px;
    }
    img {
      cursor: pointer;
    }
  }
}
