@import '../variables';

.my {

  &Header {
    margin-bottom: 30px;
  }

  &List {
    margin-bottom: 45px;

    &Item {
      & > img {
        width: 65px;
        cursor: pointer;
      }
    }
  }

  &LittleDiffImages {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
